<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
    <system.webServer>
      <rewrite>
             <rules>              
                 <rule name="jsbrotli rewrite rule" enabled="true" stopProcessing="true">
                     <match url="(.*)dist(.*)\.min.js$" ignoreCase="true" />
                     <conditions logicalGrouping="MatchAll">
                         <add input="{HTTP_ACCEPT_ENCODING}" pattern="br" ignoreCase="true" />
                     </conditions>
                     <action type="Rewrite" url="{R:0}.br"/>
                 </rule>
                 <rule name="jsgzip rewrite rule" enabled="true" stopProcessing="true">
                     <match url="(.*)dist(.*)\.min.js$" ignoreCase="true" />
                     <conditions logicalGrouping="MatchAll">
                         <add input="{HTTP_ACCEPT_ENCODING}" pattern="gzip" ignoreCase="true" />
                     </conditions>
                     <action type="Rewrite" url="{R:0}.gz"/>
                 </rule>                 
             </rules>
                  <outboundRules>
             <rule name="Rewrite gzip Header" preCondition="IsGz" stopProcessing="false">
                  <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
                  <action type="Rewrite" value="gzip" />
              </rule>
              <rule name="Rewrite br Header" preCondition="IsBr" stopProcessing="false">
                  <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
                  <action type="Rewrite" value="br" />
              </rule>
             <preConditions>
             <preCondition name="IsGz">
                      <add input="{PATH_INFO}" pattern="\.gz$" />
             </preCondition>
                  <preCondition name="IsBr">
                      <add input="{PATH_INFO}" pattern="\.br$" />
             </preCondition>
             </preConditions>
         </outboundRules>
         </rewrite>
         <staticContent>
            <remove fileExtension=".gz"/>
            <mimeMap fileExtension=".gz" mimeType="application/x-gzip" />
            <remove fileExtension=".br"/>
            <mimeMap fileExtension=".br" mimeType="application/x-br" />
         </staticContent>         
    </system.webServer>
 </configuration>
